<main class="app-container">
  <h1 class="app-title">Find Location by Coordinates - Best GPS Map Tool</h1>
  <p>🌍 Use our <strong>geolocation tool</strong> to <strong>find place by coordinates</strong> instantly!</p>

  <ng-container *ngIf="distanceCalcLoaded">
    <app-distance-calculator></app-distance-calculator>
  </ng-container>

  <div class="info-section">
    <h1 class="app-title">Explore the World with Coordinates</h1>
    <div class="info-content">
      <p>🌍 <strong>Coordinates</strong> are the backbone of geographic positioning, allowing us to pinpoint any location on Earth with precision.</p>
      <p>📏 <strong>Latitude and Longitude</strong> define a location’s position relative to the Equator and the Prime Meridian.</p>
      <p>📡 <strong>GPS</strong> (Global Positioning System) harnesses satellite technology to deliver real-time coordinates.</p>
      <p>🗺️ <strong>Google Maps</strong> transforms coordinates into interactive visuals.</p>
    </div>
  </div>
</main>
